<div>
	<header
		id="banner"
		class="scrollto clearfix shift-left"
		data-enllax-ratio=".5"
        style="background-image: 'assets/images/banner-images/banner-logo-1.jpg';"
		>
		<div id="banner-content" class="row clearfix pull-right">
			<div class="col-38">
				<div class="section-heading">
					<h1 style="color: aliceblue;">{{ pp.tagline }}</h1>
					<h2 style="color: aliceblue;">{{ pp.title }}</h2>
				</div>

				<!-- <a routerLink="{{ pp.buttonlink }}" class="button">{{
					pp.buttontext
				}}</a> -->
			</div>
		</div>
	</header>
</div>
